@using ElectronicsStore.Models.DTO
@model ChangePasswordDto
@{
}
<div class="border p-3 mx-auto" style="width:500px">
	<h3 class="text-center">Change Password</h3>
	<hr />
	@if (ViewBag.secuessMessage != null)
	{
			<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
			@ViewBag.secuessMessage
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
	}

	@if (ViewBag.ErrorMessage != null)
	{
			<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
			@ViewBag.ErrorMessage
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
	}
	<form method="post">
		<div class="row mb-3">
			<label class="col-sm-4 form-label" asp-for="CurrentPassword" ></label>
			<div class="col-sm-8">
				<input class="form-control" asp-for="CurrentPassword"/>
				<span class="text-danger" asp-validation-for="CurrentPassword"></span>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-4 form-label" asp-for="NewPassword" ></label>
			<div class="col-sm-8">
				<input class="form-control" asp-for="NewPassword"/>
				<span class="text-danger" asp-validation-for="NewPassword"></span>
			</div>
		</div>
		<div class="row mb-3">
			<label class="col-sm-4 form-label" asp-for="ConfirmPassword" ></label>
			<div class="col-sm-8">
				<input class="form-control" asp-for="ConfirmPassword"/>
				<span class="text-danger" asp-validation-for="ConfirmPassword"></span>
			</div>
		</div>
		<div class="row mb-3">
			<div class="offset-sm-4 col d-grid">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
			<div class="col d-grid">
               <a asp-action="Profile" class=" btn btn-outline-primary">Cancel</a>

			</div>
		</div>
	</form>
</div>
