@{
}
<div class="mx-auto border mt-5 p-3" style="width:400px">
    <h3 class="text-center mb-3">Forget Password</h3>
    <hr />
    @if (ViewBag.SuccessMessage != null)
    {
            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
            @ViewBag.SuccessMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    }

    <form method="post">
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input name="email" class="form-control" value="@ViewBag.Email" />
            <span class="text-danger">@ViewBag.ErrorMessage</span>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </div>
            <div class="col-sm-6">
                <a asp-action="Login" class="w-100 btn btn-outline-primary">Login</a>
            </div>
        </div>
    </form>
</div>
